.App {
  border: 2px solid gray;
  margin: 50px 246px;
  padding: 50px 250px;
}

input {
  /* border: none; */
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
}

.to-do-container{
  display: flex;
  flex-direction: column;
}
.to-do-container ul li{
  overflow-wrap:break-word ;
  margin-top: 5px;
  width: 181px;
  list-style-type: "👉   ";
  cursor: pointer;
}
 .completed{
  text-decoration: line-through;
 }
.items{
  display: flex;
}




@media (max-width: 1100px) {
  .App {
    margin: 50px 141px;
    padding: 50px 227px;

}
}

@media (max-width: 950px) {
  .App {
    margin: 49px 55px;
    padding: 53px 207px;
}

  
}
@media(max-width: 740px) {
  .App {
    padding: 37px 77px;
    margin: 81px 20px;

  }
}

@media (max-width: 440px){
.App {
    padding: 37px 27px;
    margin: 81px 20px;
}}

@media (max-width: 340px){
.App {
  padding: 41px 14px;
  margin: 81px 27px;
}}
